.wrap{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}


.header_block{
    width: 100vw;
    height: 10vh;
    background-color: rgba(241, 237, 237, 0.428);
    display: grid;
    justify-content: center;
    align-items: center;
}